<footer>
    <div class="secciones-footer-container">
        <br>
        <section class="seccion-footer">
            <div class="icono-footer"><i class="fa-solid fa-credit-card"></i></div>
            <h3 class="titulos-footer">Paga con tarjeta o en efectivo</h3>
            <p class="descripcion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <br>
        <section class="seccion-footer">
            <div class="icono-footer"><i class="fa-solid fa-gift"></i></div>
            <h3 class="titulos-footer">Envío gratis desde $ 2.500</h3>
            <p class="descripcion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>
        <section class="seccion-footer">
            <div class="icono-footer"><i class="fa-solid fa-user-shield"></i></div>
            <h3 class="titulos-footer">Seguridad, de principio a fin</h3>
            <p class="descripcion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </div>
    <section class="seccion-footer">
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>