<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <%- include('partials/headerNavbar')%>
    <%- include("partials/banner") %> 
    <main>
        <div class="secciones-container">
            <div class="seccion-ultimaVisita-container">
                <div class="titulo-seccion-container">
                    <h3 class="titulo-seccion">Basado en tu última visita</h3>
                </div>
                <section class="UltimaVisita">
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $6.770</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">40% OFF</p>
                                </div>
                            </section>
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">Cafetera Moulinex</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $230.000</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">20% OFF</p>
                                </div>
                            </section> 
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">MacBook Pro 2019</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $70.500</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">10% OFF</p>
                                </div>
                            </section>
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">Samsung Glaxy S10</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $23.200</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">5% OFF</p>
                                </div>
                            </section>
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">SmartTv Samsung 43</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            </div>
            <div class="seccion-ofertas-container">
                <div class="titulo-seccion-container">
                    <h3 class="titulo-seccion">Ofertas</h3>
                </div>
                <section class="ofertas">
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $6.770</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">40% OFF</p>
                                </div>
                            </section>
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">Cafetera Moulinex</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $230.000</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">20% OFF</p>
                                </div>
                            </section>
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">MacBook Pro 2019</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $70.500</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">10% OFF</p>
                                </div>
                            </section>
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">Samsung Glaxy S10</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="producto-container">
                        <div class="img-producto-container">
                            <img class="img-producto" src="img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        
                        
                        <div class="info-producto-container">
                            <div class="camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <section class="precioYdescuento">
                                <div class="precio-producto-container">
                                    <p class="precio-producto"> $23.200</p>
                                </div>
                                <div class="descuento-producto-container">
                                    <p class="descuento-producto">5% OFF</p>
                                </div>
                            </section>
                            <div class="descripcion-producto-container">
                                <strong class="descripcion-producto">SmartTv Samsung 43</strong>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <%- include('partials/footer')%>
</body>
</html>