<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <%- include('partials/headerNavbar')%>
    <div class="register-form-container">
        <form action="/" method="GET" class="register-form">
            <div class="top-form">
                <label for="full-name">Nombre y apellido</label>
                <input type="text" name="nombre" id="full-name" placeholder="Nombre y apellido">

                <label for="user-name">Nombre de usuario</label>
                <input type="text" name="usuario" id="user-name" placeholder="Nombre de usuario">

                <label for="email">Nombre y apellido</label>
                <input type="email" name="email" id="email" placeholder="E-mail">
            </div>
            <br>

            <div class="mid-form">
                <h4>Fecha de nacimieto</h4>
                <input type="date" name="birthday" id="birthday">
                <label for="birthday">Fecha de nacimiento</label>
                <input type="text" name="domicilio" id="adress" placeholder="Domicilio">
                <label for="adress">Domicilio</label>
            </div>

            <div class="user-type-container">             
                <h4>Perfil del usuario</h4>
                <div class="user-type">
                    <input type="radio" name="option" value="Comprador">
                    <label for="option" id="show-label" class="space">Comprador</label>

                    <input type="radio" name="option" value="Vendedor">
                    <label for="option" id="show-label">Vendedor</label>
                </div>
            </div>

            <h4>Intereses</h4>
            <div class="categoria_intereses">
                
                    <div class="label-box">
                        <label for="electro" id="show-label">Electro</label>
                        <label for="moda" id="show-label">Moda</label>
                        <label for="hogar" id="show-label">Hogar</label>
                        <label for="jugueteria" id="show-label">Jugueteria</label>
                        <label for="vida_sana" id="show-label">Vida Sana</label>
                    </div>

                    <div class="categoria-box">
                        <input type="checkbox" name="categoria_interes" value="resp_electro" id="electro">
                        <input type="checkbox" name="categoria_interes" value="resp_moda" id="moda">
                        <input type="checkbox" name="categoria_interes" value="resp_hogar" id="hogar">
                        <input type="checkbox" name="categoria_interes" value="resp_jugueteria" id="jugueteria">
                        <input type="checkbox" name="categoria_interes" value="resp_vida_sana" id="vida_sana">
                    </div>
                </div>

            
            <div class="password-container">
                <h4>Contraseña</h4>
                <input type="password" name="contraseña" id="password">
                <label for="password">Contraseña</label>

                <h4>Confirmar contraseña</h4>
                <input type="password" name="contraseña-confirm" id="password-confirm">
                <label for="password-confirm">Confirmar contraseña</label>               
            </div>

            <div class="buttons-form">
                <button type="submit" id="submit">Enviar</button>
                <button type="reset" id="reset-button">Borrar datos</button>
            </div>
        </form>
    </div>
    
</body>
<%- include('partials/footer')%>
</html>