*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb
}



/*TOP-HEADER*/



header {
    background-color: #EAC926;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 50%;
}

.logo img{
    padding-left:15px;
    padding-top:10px;
    width: 100%;
}

.busqueda-container{
    width: 50%;
    padding: 13px 0px 0px 0px;
}

.form-busqueda{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.barra-busqueda{
    width:80%;
    border:none;
    padding: 7px;
    border-radius: 2px;
}

.boton-lupa{
    position:relative;
    right:19px;
    border:none;
    background-color: white;
}

.banner {
    width: 100%;
    margin-bottom: -5px;
}

.cuotas {
    font-size: 12px;
    text-align: center ;
}





/* BURGER BUTTON */




.burger-container {
    text-align: center;
}

.burger {
    background-color: #0044AA;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}



/*NAV BAR*/




li{
    list-style: none;
    font-size: 12px ;
}

a{
    color: black;
    text-decoration: none
}

.nav{
    display: none;
}

.nav-der-container ul li a i{
    padding-left: 8px;
}

/*PRODUCTOS*/




main{
    width: 90%;
    margin: auto;
}

main section .producto-container{
    background-color: #fff;    
    margin: 10px 0px;
}

main section .producto-container img{
    width: 100%;
}

.info-producto-container{
    border-top: solid #ebebeb 1px;
    padding: 15px;
    position: relative;
}
.precioYdescuento{
    display: flex;
    
}
.precio-producto-container{
    width: 30%;
    position: relative;
}
.descuento-producto-container{
    width: 70%;
}


.camion{
    color: #39b54a;;
}

.camion i {
    display: block; 
    position: absolute;
    font-size: 16px; 
    padding: 5px;
    width: 30px; 
    height: 30px;
    border: 1px solid #39b54a; 
    background-color: #FFF; 
    border-radius: 50%;
    right: 20px;
    top: -15px
}

.precio-producto {
    margin: 0px;
}
.descuento-producto{
    margin-top: 0px;
    color: #39b54a;
}

main section strong {
    color: #666;
}

h3.titulo-seccion{
    font-size: 24px;
    color: #666;
}

p.precio-producto{
    font-size: 18px;
}

p.descuento-producto{
    font-size: 16px;
}

p.descripcion-producto{
    font-size: 16px;
}


/* FOOTER */


p.descripcion-footer{
    font-size: 12px;
}


footer {
    background-color: white;
}
.secciones-footer-container{
    text-align: center;
    padding: 40px;
}

.titulos-footer {
    margin: 0px;
}
.descripcion-footer {
    margin-top: 0px;
}

.icono-footer {
    margin-top: 20px;
    color: #0044AA;
    font-size: 30px;
}

.copyright{
    font-size: 12px;
    text-align: left;
    color:  #666;
}


/* REGISTER */

.register-form{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.top-form, .mid-form, .password-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.top-form input, .mid-form input,  .password-container input{
    width: 80%;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 1.8125em 0.75em;
    padding-top: 0.8125em;
    padding-right: 0.75em;
    padding-bottom: 0.8125em;
    padding-left: 0.75em;
}

.categoria_intereses{
    width: 100%;
    display: flex;
}

.label-box, .categoria-box{
    width: 50%;
    flex-direction: column;
    display: flex;
}

.user-type-container, h4{
    width: 100%;
}

h4{
    padding: 20px 0px 5px 35px;
}

.label-box, .user-type{
    padding-left: 40px;
}

.categoria-box{
    justify-content: space-between;
    align-items: flex-start;
}



.register-form label , .login-form label {
    visibility: hidden;
}

#show-label{
    visibility: visible;
}
.space{
    padding-right: 20px;
}

.buttons-form button{
    width: 100%;
    padding: 0.5em 4.1em;
    background-color: #2968c8;
    border: transparent;
    color: #fff;
}

.reset-button{
    margin-top: 20px;
}


@media (min-width: 361px){

    .logo {
        width: 33%;
    }
    .busqueda-container{
        width: 33%
    }
    .cuotas {
        width: 33%;
        font-size: 10px;
    }

    .burger-container{
        display: none;
    }

    .nav{
        display: flex;
        justify-content: space-around;
    }

    .nav ul{
        display: flex;
    }

    .nav ul li{
        display: flex;
        padding-right: 20px;
        margin: 30px 5px 10px 5px;
    }



    main section strong {
        visibility: hidden
    }
    main section .producto-container:hover strong {
        visibility: visible
    }
    
    
    main .producto-container{
        display: flex;
        width: 48%;
    }

    .UltimaVisita, .ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .producto-container:hover   {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 769px){
    
    main .producto-container{
        width: 23%;
    }

    .cuotas {
        font-size: 12px;
    }
}